<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.2/sketchy/bootstrap.min.css" integrity="sha512-0ALdKMWU8f2uPX3bVPDG7KMfDJ9DHF6MTFUGRQBQnD5jld4hr+FfVe5bzcooskugMJhwc1HjxSbjjI12QiCJvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />   --> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/materia/bootstrap.min.css" integrity="sha384-B4morbeopVCSpzeC1c4nyV0d0cqvlSAfyXVfrPJa25im5p+yEN/YmhlgQP/OyMZD" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PokeList</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/PokemonsComponent">Pokemons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/aboutUs">Sobre nosotros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h1>Bienvenido a la base de datos de Pókemon</h1>
  <p>A continuación presentamos un listado de pokemons entre los cuales podes editar o eliminar la información que desees</p>
</div>

