<div class="principal">
    <div class="text">
      <h3>Andres Antivero</h3>
    </div>
    <div class="photo">
      <img src="\assets\Andres Antivero.jpg">
    </div>
    <div class="text">
        <h3>Emiliano Perez</h3>
      </div>
      <div class="photo">
        <img src="\assets\Emiliano Perez.jpg">
      </div>
      <div class="text">
        <h3>Emmanuel Espinoza</h3>
      </div>
      <div class="photo">
        <img src="\assets\Emmanuel.jpg">
      </div>
      <div class="text">
        <h3>Cristian Alanez</h3>
      </div>
      <div class="photo">
        <img src=>
      </div>
  </div>